# ISO 10816-3
THRESHOLD_YELLOW=VALUE_OF_YELLOW_ZONE
THRESHOLD_ORANGE=VALUE_OF_ORANGE_ZONE
THRESHOLD_RED=VALUE_OF_RED_ZONE

# Project Paths
DATA_PATH=PATH_TO_DATA
EXPORT_PATH=PATH_TO_EXPORT

# AI Prediction Settings
DAYS_TO_PREDICT=NUMBER_OF_DAYS_TO_PREDICT